/* styles.css */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 7;
    padding: 2;
}

.menu {
    background-color: #f2d64a;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu a {
    display: flex;
    gap: 45px;
    float: right;
    display: block;
    color: #fbf6c6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: solid;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.menu a:hover {
    background-color: #f7ea91;
    color: #bf850f;
    border-radius: 6px;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Efecto de paralaje */
.imagen-parallax {
    background-image: url('Images/nosotros/fondo\ dorado.png');
    height: 200px; /* Ajusta según tu preferencia */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.section-title {
    font-size: 56px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

.biografia {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.bio-image {
    flex: 1 1 400px; /* Ajusta según tu preferencia */
}

.bio-image img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    transition: transform 1.25s ease, box-shadow 0.4s ease;
}

.bio-image img:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bio-details {
    flex: 2 1 300px; /* Ajusta según tu preferencia */
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    gap: 10px;
    justify-content: flex-start;
}

.bio-name {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px 0;
}
.bio-text {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    transition: transform 0.4s ease, box-shadow 0.4s ease, color 0.4s ease; /* Añadimos transición para el color */

    /* Fondo blanco */
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px; /* Espaciado alrededor del texto */
    
    /* Sombra sutil para darle profundidad */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    /* Color de texto inicial */
    color: #333; /* Texto oscuro para buen contraste */
    
    /* Borde sutil */
    border: 1px solid #e0e0e0; /* Borde muy claro */
}


.bio-text:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(124, 124, 124, 0.2);
}

.divisor {
    margin: 10px 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 156px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    font-size: 64px;
    font-weight: 200;
    padding: 10px;
    border-radius: 10px;
    transition: transform 1.25s ease, box-shadow 0.4s ease;
}
/*comentario*/
.titulo:hover {
    transform: scale(1.05);
}

.flexcontent {
    margin: 10px 0px 10px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px; 
    padding: 10px;
    border-radius: 10px;
    transition: transform 1.25s ease, box-shadow 0.4s ease;
}

.flexcontent:hover {
    transform: scale(1.01);
}

/* Footer */
.footer {
    background-color: #f2d64a;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border-top: 2px solid #bf850f;
}

.footer-column {
    flex: 1;
    margin: 10px;
}

.footer-column h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-column ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #fbf6c6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #bf850f;
}

.footer-column p {
    margin: 10px;
}

.footer-column iframe {
    width: 50%; /* Ajusta según tu preferencia */
    height: 200px; /* Ajusta según tu preferencia */
    border: 0;
    border-radius: 10px;
}

.btn-wsp{
    width: 80px;
    background: #14923e;
    border: #70f09b;
    position: fixed;
    z-index: 999;
    border-radius: 50% 50% 50% 20%;
    bottom: 20px;
    right: 25px;
    padding: 5px;
    transition: ease 0.3s;
    animation: wsp 1.2s infinite;
}
.btn-wsp:hover{
    transform: scale(1.2);
    transition: 0.3s;
}